:host {
  display: block;
  width: 100%;
  padding: .5rem 0;

  border-bottom: 1px solid #e1e4e8;

    .article-contents__date {
      color: var(--text-sub);
    }

    .article-contents__title {
      margin-top: .25rem;
      font-weight: bold;
      font-size: 1.15rem;
    }
}
