:host {
  display: block;

  .sns-icons {
    // ulタグのスタイルをリセット
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    display: flex;


    .sns-icons__item {
      // 最初の要素以外にmargin-leftをつける
      &:not(:first-of-type) {
        margin-left: 1rem;
      }
      .sns-icons__item__img {
        width: 2rem;
        height: auto;
      }
    }
  }
}
