<header class="home-header">
    <mat-toolbar>
        <span class="home-header_fill-remaining-space"></span>
        <button mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-toolbar>
</header>

<main class="home-main">

    <app-profile></app-profile>

    <app-article-list>
        <app-article-list-item *ngFor="let article of links$ | async"
                               [article]="article"
                                (click)="openArticle(article)">
        </app-article-list-item>
    </app-article-list>

</main>
