<header class="blog-header">
    <mat-toolbar>
        <span class="blog-header_fill-remaining-space"></span>
        <button mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-toolbar>
</header>

<main class="blog-main">

    <div class="blog-main__heading">
        <div class="blog-main__heading__date"></div>
        <div class="blog-main__heading__category"></div>
    </div>
    <!-- This is where Scully will inject the static HTML -->
    <scully-content></scully-content>
</main>
