<app-select-category-input class="filter-article-form"
                           [selectedCategories]="selectedCategories"
                           (onRemoveCategory)="removeCategoryToFilter($event)"></app-select-category-input>

<app-select-category-list class="filter-article-categories"
                          [categories]="categories"
                          (onSelectCategory)="addCategoryToFilter($event)"></app-select-category-list>

<div class="filter-article-buttons">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onSearch()">Search</button>
</div>
