.mat-bottom-sheet-container {
  padding-top: 4rem;
  padding-bottom: 2.5rem;
}

.filter-article-form {}

.filter-article-categories {
  margin-top: 2rem;
  padding-left: 5%;
  padding-right: 5%;
}

.filter-article-buttons {
  margin-top: 4vh;
  text-align: right;
}
