.mat-bottom-sheet-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

:host {
  display: block;

  .filter-article-form {}

  .filter-article-categories {
    width: 100%;
  }

  .filter-article-buttons {
    margin-top: 15vh;
    text-align: right;
  }
}
