<app-header class="blog-header">
    <app-left-arrow-icon-button class="blog-header__back-button"
                                headerLeft
                                [iconColor]="iconColor"
                                (onClick)="returnToHome()"></app-left-arrow-icon-button>
</app-header>

<app-left-arrow-button class="blog-back-button"
                       (onClick)="returnToHome()">Back</app-left-arrow-button>

<main class="blog-main">

    <div class="blog-main__heading">
        <div class="blog-main__heading__date">{{article?.date | date:'yyyy-MM-dd'}}</div>
        <div class="blog-main__heading__category">{{article?.category | arrayJoin:' / '}}</div>
    </div>
    <!-- This is where Scully will inject the static HTML -->
    <article class="blog-main__article">
        <scully-content></scully-content>
    </article>
</main>
