@import "responsive";

:host {
  display: block;
  padding-bottom: 3rem;

  .home-header {}

  .home-main {
    padding: 0 20%;
    @include sm {
      padding: 0 7.25%;
    }

    .home-main__profile {
      margin-top: 4rem;
      @include sm {
        margin-top: 2rem;
      }
    }

    .home-main__article-list {
      margin-top: 3rem;

      .home-main__article-list__item:first-child {
        border-top: 1px solid #e1e4e8;
      }

      .home-main__article-list__item {
        border-bottom: 1px solid #e1e4e8;
      }
    }
  }
}
