<mat-form-field class="select-category-input">
    <mat-chip-list [multiple]="true" #chipList>
        <mat-chip *ngFor="let selectedCategory of selectedCategories"
                  [removable]="true" (removed)="removeCategory(selectedCategory)">
            {{selectedCategory}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Search category..."
               [matChipInputFor]="chipList"
               [readOnly]="true">
    </mat-chip-list>
</mat-form-field>
