<div class="filter-article">

    <div class="filter-article__form">
        <mat-form-field>
            <mat-chip-list [multiple]="true" #chipList>
                <mat-chip *ngFor="let selectedCategory of selectedCategories"
                          [removable]="true" (removed)="removeCategoryToFilter(selectedCategory)">
                    {{selectedCategory}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input placeholder="Search category..."
                       [matChipInputFor]="chipList"
                       [readOnly]="true">
            </mat-chip-list>
        </mat-form-field>
    </div>

    <div class="filter-article__categories">
        <mat-chip-list>
            <mat-chip *ngFor="let category of categories"
                      (click)="addCategoryToFilter(category)">{{category}}</mat-chip>
        </mat-chip-list>
    </div>

    <div class="filter-article__close">
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button (click)="onSearch()">Search</button>
    </div>

</div>
