<div class="profile-icon">
    <img class="profile-icon__image" src="/assets/profile.png">
</div>

<div class="profile-contents">
    <div class="profile-contents__name">{{name}}</div>
    <div class="profile-contents__self-introduction">{{selfIntroduction}}</div>
    <div class="profile-contents__sns">
        <img class="profile-contents__sns__icon" src="/assets/Twitter.png">
        <img class="profile-contents__sns__icon" src="/assets/GitHub.png">
        <img class="profile-contents__sns__icon" src="/assets/Qiita.png">
    </div>
</div>
